//* COLORS
$color-primary: #e21116;
$color-secondary: #f6dc29;
$color-tertiary: #060809;
$color-dark: #101010;
$color-dark-light: #1c1c1c;
$color-text-light: #716f6f;
$color-text-dark: #000000;

//* FONTS
//$font-primary: "Montserrat", sans-serif;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Oswald', sans-serif;

//* BREAKPOINTS
$breakpoints: (
	laptop-large	: 1920px,
	laptop-medium	: 1440px,
	laptop-small	: 1366px,
	laptop-xsmall   : 1200px,
	tablet-landscape: 1024px,
	tablet-portrait	: 768px,
	mobile-xlarge	: 720px,
	mobile-large	: 425px,
	mobile-medium	: 375px,
	mobile-small	: 320px
);