.btn-shame-primary {
    background-color: $color-secondary;
    color : $color-dark-light;
    text-transform: uppercase;
    padding: 1rem 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 0;
    font-family: $font-secondary;
}

.btn {
    font-size: 1.6rem;
}