.site-header {
    //padding: 1rem 0;
}

.far, .fas {
    margin: 0 3px;
}

.page-title {
    background: url(../../assets/img/title-bg.jpg) no-repeat top center;
    background-size: cover;

    h1 {
        padding: 60px 0 ;
        color: #fff;
        font-size: 5rem;
        font-family: $font-secondary;
        margin-bottom: 0;
    }
}

.page-instruct {
    background-color: $color-secondary;

    p {
        font-size: 1.3rem;
        padding: 3px 0;
        span {
            margin: 0 1rem;
        }
    }
}

.main-content {
    min-height: 40rem;
}

.ginput_price {
    display: none;
}

.gfp_big_button .gfield_radio li input[type=radio] {
    display:none !important;
}
.gfp_big_button .gfield_radio label {
    max-width: 300px !important;
    width: 100% !important;
    margin: 0px auto !important;
    padding: 22px 50px !important;
    float: none;
    background: #fff;
    color: #000;
    letter-spacing: 0.09375rem !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    /* margin: 0 !important; */
    display: block !important;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    cursor: pointer;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em !important;
    box-sizing: border-box;
    border: 1px solid #000;
}

.gfp_big_button .gfield_radio label:hover {
    background: #414142;
}

.gfp_big_button .gfield_radio label:hover {
    background: #e8bd0f;
    color: #2e2e2e;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label, .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    background: #e8bd0f;
    color: #2e2e2e;
}
