.footer {
    background-color: $color-dark;
    .nav-link {
        color: #fff;
    }
}

.copyright {
    background-color: $color-dark;
    border-top: 1px solid $color-text-light;
    color: #646464;
    font-size: 1.4rem;
}