.navbar {

    padding: 0.5rem 0;

    .navbar-nav {


        .nav-link {

            padding: 1.5rem 1.8rem;
        }
    }

    .text-red {

        a {
            color: $color-primary;
            font-size: 1.3rem;

            &:hover {
                color: $color-primary;
                font-size: 1.3rem;
                text-decoration: none;
            }
        }


    }
}

