/*--- Base CSS ---*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif; }

/*--- Buttons CSS ---*/
.btn-shame-primary {
  background-color: #f6dc29;
  color: #1c1c1c;
  text-transform: uppercase;
  padding: 1rem 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 0;
  font-family: "Oswald", sans-serif; }

.btn {
  font-size: 1.6rem; }

/*--- Nav CSS ---*/
.navbar {
  padding: 0.5rem 0; }
  .navbar .navbar-nav .nav-link {
    padding: 1.5rem 1.8rem; }
  .navbar .text-red a {
    color: #e21116;
    font-size: 1.3rem; }
    .navbar .text-red a:hover {
      color: #e21116;
      font-size: 1.3rem;
      text-decoration: none; }

/*--- Footer CSS ---*/
.footer {
  background-color: #101010; }
  .footer .nav-link {
    color: #fff; }

.copyright {
  background-color: #101010;
  border-top: 1px solid #716f6f;
  color: #646464;
  font-size: 1.4rem; }

/*--- Custom CSS ---*/
.far, .fas {
  margin: 0 3px; }

.page-title {
  background: url(../../assets/img/title-bg.jpg) no-repeat top center;
  background-size: cover; }
  .page-title h1 {
    padding: 60px 0;
    color: #fff;
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
    margin-bottom: 0; }

.page-instruct {
  background-color: #f6dc29; }
  .page-instruct p {
    font-size: 1.3rem;
    padding: 3px 0; }
    .page-instruct p span {
      margin: 0 1rem; }

.main-content {
  min-height: 40rem; }

.ginput_price {
  display: none; }

.gfp_big_button .gfield_radio li input[type=radio] {
  display: none !important; }

.gfp_big_button .gfield_radio label {
  max-width: 300px !important;
  width: 100% !important;
  margin: 0px auto !important;
  padding: 22px 50px !important;
  float: none;
  background: #fff;
  color: #000;
  letter-spacing: 0.09375rem !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  /* margin: 0 !important; */
  display: block !important;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  cursor: pointer;
  line-height: 1;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em !important;
  box-sizing: border-box;
  border: 1px solid #000; }

.gfp_big_button .gfield_radio label:hover {
  background: #414142; }

.gfp_big_button .gfield_radio label:hover {
  background: #e8bd0f;
  color: #2e2e2e; }

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked + label, .gform_wrapper ul.gfield_radio li input[type=radio]:checked + label {
  background: #e8bd0f;
  color: #2e2e2e; }
